{% extends 'base.html.twig' %}

{% block page_title %}
    <p class="process-status">Process status:
        <span id="process-status" class="label label-info">...</span>
        <a id="btn-stop" href="{{ path('bot_stop', { configName : config.name }) }}" class="btn btn-danger btn-lg pull-right" style="margin-left: 10px"> <i class="fa fa-stop-circle-o"></i> Stop</a>
        <a id="btn-start" href="{{ path('bot_start', { configName : config.name }) }}" class="btn btn-success btn-lg pull-right"> <i class="fa fa-play-circle"></i> Start</a>
    </p>
{% endblock %}

{% block content %}
    <div class="col-lg-12">
        <code id="log" class="hidden"></code>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="text/javascript">
        $(function() {
            setInterval(function(){
                $.get('{{ path('bot_pool', { configName : config.name }) }}', function(data) {
                    $('#log').removeClass('hidden');
                    $('#log').text('PokemonGo-Bot: {{ config.username }}\n\n'+data.content);
                    $('#process-status').removeClass().addClass('label');
                    switch (data.status) {
                        case 'running' :
                            $('#process-status').addClass('label label-success').text('Running');
                            $('#btn-start').addClass('hidden');
                            $('#btn-stop').removeClass('hidden');
                            break;
                        case 'pending' :
                            $('#process-status').addClass('label label-warning').text('Pending');
                            break;
                        case 'not-started' :
                            $('#process-status').addClass('label label-danger').text('Not started');
                            $('#btn-start').removeClass('hidden');
                            $('#btn-stop').addClass('hidden');
                            break;
                    }
                });
            }, 2000);
        });
    </script>
{% endblock %}